#gameScreen {
    width: 968px;
    height: 512px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: black;
}
#gameHUD {
    width : 968px;
    height: 70px;
    margin-bottom: -5px;
    background-color: black;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
@font-face {
    font-family: emulogic;
    src: url("../fonts/emulogic.ttf");
}